.comments {
  width: 600px;
  padding: 20px;
  background: #eee;
  margin: 50px auto;
}

form {
  width: 600px;
  padding: 20px;
  background: #eee;
  margin: 50px auto;
}

form label {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
}

input,
textarea {
  width: 300px;
  padding: 5px;
}

.comment {
  position: relative;
  padding-bottom: 20px;
}

.delete-btn {
  position: absolute;
  top: 20px;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: #aaa;
  padding: 4px;
  opacity: 0.5;
  transition: opacity 0.2s, color 0.2s;
}

.delete-btn:hover {
  opacity: 1;
  color: #777;
}

.comment p {
  margin-left: 65px;
}

.comment .image {
  float: left;
  margin-right: 20px;
}

.replies {
  padding-left: 100px;
}

a.show-more {
  color: #5566cc;
}
